body {
	margin: 0;
	padding: 0;
}

.menu-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  font-size: 18px;
}

.menu-content.show {
	display: block;
}

.menu-content a {
	display: block;
	padding: 5px 10px;
	text-decoration: none;
	color: #333;
}

.menu-content a:hover {
	background-color: #ddd;
}

.content {
	margin-top: 50px;
	padding: 10px;
}

.menu {
	position: fixed;
	top: 0;
	right: 0;
	padding: 10px;
	background-color: #eb0909;
  }
  
  .menu-btn {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #333;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
  }
  
  .menu-content {
	display: none;
	position: absolute;
	top: 50px;
	right: 0;
	background-color: #f1f1f1;
	padding: 10px;
  }
  
  .menu-content.show {
	display: block;
  }
  
  .menu-content a {
	display: block;
	padding: 5px 10px;
	text-decoration: none;
	color: #333;
  }
  
  .menu-content a:hover {
	background-color: #ddd;
  }
  
  .menu-btn:hover + .menu-content {
	display: block;
  }
  
  .menu-content:hover {
	display: block;
  }
  